<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\Logs\MockGcc.UI\internal-nlog.txt">

  <!--
    More config options - https://github.com/nlog/nlog/wiki/Configuration-file
  -->
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="OTS.Digital.EWS.Framework.Logging"/>
    <!-- register custom layout renderer here -->
  </extensions>

  <!--Configure targets here-->
  <targets async="true">
    <!-- enable async logging default queue is 5000 -->
    <!-- write logs to file -->
    <!--Roll file after it reaches this 100 MB size archiveAboveSize ="104857600" -->
    <target xsi:type="File"
            name="allfile"
            fileName="C:\Logs\MockGcc.Service\MockGcc.UI-${shortdate}.log"
            layout="${longdate}|CorrelationId=[${ots-http-correlationId}]|Thread[${ThreadId}]|${logger}|${uppercase:${level}}|${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10:separator=\r\n:exceptionDataSeparator=&#032;&#032;}"
            archiveFileName="C:\Logs\MockGcc.Service\archive\MockGcc.UI-{#}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="104857600"
            maxArchiveFiles="5"
            keepFileOpen="false"
            enableArchiveFileCompression="true" />
  </targets>

  <!--Configure rules here-->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile" />
  </rules>
</nlog>
