@using MockGcc.UI.ViewModels;

<div class="align-items-center fixed-top">
    Not Found
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
